<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="/javascripts/jquery.js"></script>
  </head>
  <body>
  <!--导航栏-->
    {{> nav}}


    {{{body}}}
  </body>
</html>


{{{block 'jquery'}}}
{{{block 'navJquery'}}}

